<div class="row">
  <div class="col-md-12">
    <img [src]="recipe.imagePath" alt="recipe.name" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group " >
      <button type="button" class="btn btn-primary dropdown-toggle" (click)="callDirective()">Manage Recipe</button>
        <ul class="dropdown-menu" appDropdown > <!--must add show class here-->
          <li><a class="dropdown-item" style="cursor: pointer;" (click)="toShoppingList(recipe.ingredients)">To Shopping List</a></li>
          <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
          <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
        </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>

